@model IEnumerable<Inventory.Entity.Models.Product>


@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Quantity In Stock</th>
        <th></th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.ProductDescription</td>
            <td>@product.ProductPrice.ToString("C")</td>
            <td>@product.QuantityInStock</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = product.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
            </td>
        </tr>
    }
</table>
